@model ScalabelSimpleBlog.Models.BlogControllerModels.BlogControllerArticleViewModel

@{
    ViewBag.Title = "Article";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-11">
                <h2>@Model.Article.Header</h2>
                <h5>@Model.Article.CreatedDate</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-11">
                @{ Html.RenderAction("TagsByArticle", "Tag");}
            </div>
        </div>

        <div class="row">
            <div class="col-md-11">
                @Html.Raw(Model.Article.Body)
            </div>
        </div>
        <div class="row">
            <div class="col-md-11">
                  @using (Html.BeginForm("AddComment", "Blog", null, FormMethod.Post))
                {
                    @Html.Hidden("Comment.ArticleId", Model.Comment.ArticleId)
                    <input type="text" class="form-control" name="Comment.Body" value="" />
                    <input type="submit"/>
                }
            </div>
        </div>
        <div class="row">
            @foreach (var comment in Model.Comments)
            {
                <div class="col-md-11">
                    <h4>@comment.AuthorName</h4>
                    <p>@comment.Body</p>
                    <p>@comment.CreatedDate.RelativeDate()</p>
                </div>
            }
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            @{ Html.RenderAction("TagsCounts", "Tag"); }
        </div>
        <div class="row">
            @{ Html.RenderAction("LatestArticles", "Blog");}
        </div>
    </div>
</div>


