@model ScalabelSimpleBlog.Models.BlogControllerModels.BlogControllerLatestsCommentsViewModel

<h3>Latest comments</h3>
<div class="col-md-12">
    @foreach (var item in Model.Comments)
    {
        <p>
            @item.Body
        </p>
        <p>
            Author: @item.AuthorName
        </p>
        <a href="@Url.Action("Article", "Blog", new{articleId = item.ArticleId})" class="">
            <span class="badge">@item.CreatedDate.RelativeDate()</span>
            @item.ArticleHeader
        </a>
    }
</div>
